@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
/* @import url('https://github.com/vercel/geist-font/raw/main/packages/next/dist/fonts/geist-sans/Geist-Variable.woff2'); */

body {
    letter-spacing: .3px;
    font-family: 'SF Pro Display', sans-serif;
    background: transparent;
    user-select: none;
    cursor: default;
    overflow: hidden;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}


:root,
:root.light {
    --color-primary: #1D1D1D;
    --color-secondary: #E3E3E3;
    --color-grey: #52525b;
    --color-lightgrey: #e5e7eb;
    --color-danger: #b91c1c;
    --color-warning: #f97316;
    --color-success: #15803d;
    --color-info: #1d4ed8;
}

:root.dark {
    --color-primary: #E3E3E3;
    --color-secondary: #262626;
    --color-grey: #a1a1aa;
    --color-lightgrey: #e5e7eb;
    --color-danger: #f87171;
    --color-warning: #facc15;
    --color-success: #4ade80;
    --color-info: #38bdf8;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}