@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
/* @import url('https://github.com/vercel/geist-font/raw/main/packages/next/dist/fonts/geist-sans/Geist-Variable.woff2'); */

body {
    letter-spacing: .3px;
    font-family: 'SF Pro Display', sans-serif;
    background: transparent;
    user-select: none;
    cursor: default;
    overflow: hidden;
    overscroll-behavior: none;
    scroll-behavior: smooth;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

:root,
:root.light {
    --color-primary: #232323;
    --color-secondary: #52525b;
    --bg-primary: #EAEAEB;
    --color-lightgrey: #E5E7E7;
    --color-danger: #b91c1c;
    --color-warning: #f97316;
    --color-success: #15803d;
    --color-info: #1d4ed8;
    --color-default: #989899;

    --color-border: #D9D9DA;

    --text-opaque-1: rgb(0 0 0 / 0.85);
    --text-opaque-2: rgb(0 0 0 / 0.50);
    --text-opaque-3: rgb(0 0 0 / 0.25);
}


:root.dark {
    --color-primary: #E3E3E3;
    --color-secondary: #a1a1aa;
    --bg-primary: #262626;
    --color-lightgrey: #E5E7E7;
    --color-danger: #f87171;
    --color-warning: #facc15;
    --color-success: #4ade80;
    --color-info: #38bdf8;
    --color-default: #8C8C8C;

    --color-border: #49494A;

    --text-opaque-1: rgb(255 255 255 / 0.85);
    --text-opaque-2: rgb(255 255 255 / 0.55);
    --text-opaque-3: rgb(255 255 255 / 0.25);
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* TODO: mozna pak  */
tr:first-child td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr:first-child td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}